#MyAppFrame {
	border: 0px solid black;
	height: 100%; 
	width: 100%;
	_position: absolute;
	_margin: 0px;
	_background-color: white;
}

#MyAppFrameTop {
	border: 0px solid black;
	height: 60px;
}

#MyAppFrameMain {
    position: absolute;
	border: 0px solid red;
    top: 60px;
    bottom: 0;
    width: 100%; 
}
