.carousel-item {
  min-height: 280px; 
  _background-size: cover;
  _background-position-y: -200px;
  _background-repeat: no-repeat;
  _vertical-align: middle;
}
.carousel-item:hover{
  _cursor: pointer;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
  max-width: 100%;
}
@media all and (max-width: 700px) {
	.item {
		background-position-y: 0px;
	}
}

.carousel-indicators li {
    _width: 35px;
    height: 5px;
    border-radius: 25%;
	background-color: #AAA;
	margin-right: 15px;
}
.carousel-indicators {
	top: 256px;
	_background-color: #404040;
	height: 20px;
	_width: 200px;
}


.carousel-caption {
  margin: 0 auto;
  max-width: 500px;
  top: 152px;
  height: 128px;
  background-color: #404040;
  opacity: 0.95;
}
.carousel-caption > p {
  font-size: 1.5em;
  width: auto;
}






.fret-frame {
}




.fret-navbar-title {
  font-size: 22px;
  color: #404040;
}





.fret-frame2v {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;	
    _border: 0px yellow solid;
}

.fret-frame2v  > div {
    height: 100%;
}

.fret-frame2v-left {
	float:left;  
	width:256px; 
	height:100%; 
	background-color:#F0F0F0; 
    border-right: 2px lightgrey solid;
    border-top: 2px lightgrey solid;
}

.fret-frame2v-right {
    bottom: 0;
	float:right; 
	width:100%; 
	min-height:100%; 
	_background-color:white; 
}









.fret-vmenu {
	overflow: hidden;
	_height: 100%; 
	_border: 1px solid #D0D0D0;
}

.fret-vmenu-group {
	margin: 4px 4px 4px 8px;
	max-width: 100%; 
	border-bottom: 1px solid #C0C0C0;
	_font-weight: bold; 
}

.fret-vmenu-group > a {
	color: #8080C0;
}
.fret-vmenu-group > a:hover {
	color: #4040C0;
	text-decoration: none;
	cursor:pointer;
}

.fret-vmenu-option {
	margin: 4px 4px 4px 16px;
	max-width: 100%; 
	_font-weight: bold; 
}

.fret-vmenu-option > a {
	color: #606060; 
}
.fret-vmenu-option > a:hover {
	color: #404040; 
	cursor:pointer;
	text-decoration: none;
	font-weight: bold; 
}








.fret-frame3v {
    display: flex;
    ___flex-direction: row;
    ___justify-content: space-between;
    height: 100%;
    width: 100%;
    border: 1px yellow solid;
    margin: 0 auto;	
}

.fret-frame3v  > div {
    height: 100%;
}

.fret-frame3v-left {
	float:left;  
	background-color:white; 
	width:20%; 
	height:100%; 
}

.fret-frame3v-center{
	float:left;  
	background-color:lightgrey; 
	width:60%; 
	height:100%; 
}

.fret-frame3v-right {
    bottom: 0;
	float:right; 
	background-color:white; 
	width:20%; 
	min-height:100%; 
}

.fret-frame3v-drag-left {
   background-color:#404040;
   height:100%;
   float: right;
   width: 4px;
   cursor: col-resize;
}
.fret-frame3v-drag-right {
   background-color:#404040;
   height:100%;
   float: left;
   width: 4px;
   cursor: col-resize;
}






.zzzfret-frame3v:after {
    content: '';
    display: flex;
    clear: both;
}

.zzzfret-frame3v-left {
	position: absolute;
    bottom: 0;
    top: 0px;
	width:25%;
	height:100%;
	border: 1px solid blue;
	background-color: white;
	_float: left;
	overflow-y: hidden;
}

.zzzfret-frame3v-center{
	position: absolute;
    bottom: 0;
    top: 0px;
	width:50%;
	height:100%;
	border: 1px solid darkgrey;
	background-color: lightgrey;
	_float: left;
	overflow-y: hidden;
}

.zzzfret-frame3v-right {
	position: absolute;
    bottom: 0;
    top: 0px;
	width:25%;
	height:100%;
	border: 1px solid green;
	background-color: white;
	_float: right;
	overflow-y: hidden;
}

